<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PersonalizationReportingEnabled</key>
    <false/>
    <key>ShowRecommendationsEnabled</key>
    <false/>
    <key>HideFirstRunExperience</key>
    <true/>
    <key>ConfigureDoNotTrack</key>
    <true/>
    <key>AlternateErrorPagesEnabled</key>
    <false/>
    <key>EdgeCollectionsEnabled</key>
    <false/>
    <key>EdgeShoppingAssistantEnabled</key>
    <false/>
    <key>MicrosoftEdgeInsiderPromotionEnabled</key>
    <false/>
    <key>ShowMicrosoftRewards</key>
    <false/>
    <key>WebWidgetAllowed</key>
    <false/>
    <key>DiagnosticData</key>
    <integer>0</integer>
    <key>EdgeAssetDeliveryServiceEnabled</key>
    <false/>
    <key>WalletDonationEnabled</key>
    <false/>
    <key>CopilotCDPPageContext</key>
    <false/>
    <key>CopilotPageContext</key>
    <false/>
    <key>HubsSidebarEnabled</key>
    <false/>
    <key>EdgeEntraCopilotPageContext</key>
    <false/>
    <key>EdgeHistoryAISearchEnabled</key>
    <false/>
    <key>ComposeInlineEnabled</key>
    <false/>
    <key>GenAILocalFoundationalModelSettings</key>
    <integer>1</integer>
    <key>NewTabPageBingChatEnabled</key>
    <false/>
    <key>NewTabPageContentEnabled</key>
    <false/>
    <key>NewTabPageHideDefaultTopSites</key>
    <true/>
    <key>TabServicesEnabled</key>
    <false/>
    <key>DefaultBrowserSettingEnabled</key>
    <false/>
    <key>DefaultBrowserSettingsCampaignEnabled</key>
    <false/>
    <key>SpotlightExperiencesAndRecommendationsEnabled</key>
    <false/>
    <key>ShowAcrobatSubscriptionButton</key>
    <false/>
    <key>Microsoft365CopilotChatIconEnabled</key>
    <false/>
    <key>StartupBoostEnabled</key>
    <false/>
    <key>SiteSafetyServicesEnabled</key>
    <false/>
    <key>NetworkPredictionOptions</key>
    <integer>2</integer>
    <key>DefaultSearchProviderEnabled</key>
    <true/>
    <key>DefaultSearchProviderName</key>
    <string>Google</string>
    <key>DefaultSearchProviderSearchURL</key>
    <string>https://www.google.com/search?q={searchTerms}</string>
    <key>DiskCacheSize</key>
    <integer>268435456</integer>
</dict>
</plist>
